.delete__message {
  text-align: center;
}

.delete__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 40px 0 60px;
  gap: 24px;
}

.delete__confirm-button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #ff4d00;
}

.delete__cancel-button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #000;
}
