.modal__image {
  width: 100%;
  border-radius: 20px;
}

.modal__caption {
  font-size: 16px;
  line-height: 20px;
  margin-left: 32px;
}

.modal__weather {
  margin-left: 32px;
}

.modal__delete-btn {
  position: absolute;
  top: 95px;
  right: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #ff4d00;
}
