.sidebar {
  display: flex;
  gap: 16px;
}

.sidebar__buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 180px;
  gap: 8px;
}

.sidebar__avatar {
  border-radius: 50%;
  width: 56px;
  height: 56px;
}

.sidebar__edit-profile {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.sidebar__logout {
  border: 0;
  background-color: transparent;
  text-align: start;
  cursor: pointer;
}
