.clothes-section__header {
  display: flex;
  gap: 20px;
}

.clothes-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}

.clothes-section__button {
  background-color: transparent;
  border: none;
  color: #000;
  opacity: 0.6;
  cursor: pointer;
}
